/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	margin: 0px;
	padding-top: 50px;
}

.center-page-content-outer {
	position: absolute;
	top: 50%;
	left: 50%;
}
.center-page-content-outer .center-page-content-inner {
	position: relative;
	margin-top: -50%;
	margin-left: -50%;
}

.navbar-brand {
	padding: 5px;
}
.navbar-brand img {
	height:100%;
}

.notice {
	background-color: rgba(0,255,0,0.5);
}

#error_explanation {
	width: 350px;
}
#error_explanation h2 {
	font-size: 20px;
	margin: 0;
}